/* styles.css */
@import url( 
"https://fonts.googleapis.com/css2?family=Pacifico&display=swap"); 
* { 
	box-sizing: border-box; 
	margin: 0; 
	padding: 0;
  color:#fff;
}
body {
            font-family: 'Arial', sans-serif;
			background-image: url("https://i.pinimg.com/originals/c7/fb/05/c7fb05d41cd30ccf51985313c434b92f.gif");
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #f8f9fa;}
  .card {
          overflow: hidden;
            background: url('https://cdn.dribbble.com/users/14038/screenshots/6361899/galaxy_dribbble.gif');
            background-size: cover;
            animation: sparkleBackground 10s infinite linear;
            width: 80px;
            height: 120px;
            margin: 10px;
            border: 1px solid #333;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
        }
    
